<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book Library</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>My Book Library</h1>
  <div class="book-list">
    <% books.forEach(book => { %>
      <div class="book">
        <h2><%= book.title %></h2>
        <p><%= book.description %></p>
        <a href="<%= book.link %>" target="_blank">Read / Download</a>
      </div>
    <% }) %>
  </div>
</body>
</html>